.Modal {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &.show {
        animation: fadeIn 0.2s ease-in-out forwards;
    }
    position: fixed;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(white, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 100px gray;
    transform: translateX(-50%) translateY(0);
    top: 5%;
    left: 50%;
    display: grid;
    z-index: 9999999999;
    &.success {
        box-shadow: 0px 0px 100px green;
        background-color: rgba(green, 0.6);
    }
    .close {
        justify-self: right;
        &:hover {
            cursor: pointer;
        }
    }
    .modal-content {
        display: grid;
        margin: 1rem;
        >* {
            margin: 0.5rem;
        }
        label>span{
            margin-inline: 0.5rem;
        }
        @keyframes close-indicator {
            0% {
                width: 90%;
            }
            100% {
                width: 0%;
            }
        }
        .closetime-indicator {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            animation: close-indicator var(--t) linear forwards;
            height: 5px;
            background-color: lightgreen;
        }
    }
    &.hide {
        visibility: hidden;
        display: none;
    }
}