.FunctionsPanel {
    padding: 20px;
    position: relative;
    .show-toggel {
        user-select: none;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 20px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        color: rgba(white, 0.3);
        cursor: pointer;
        z-index: 10;
        &.ishidden {
            position: relative;
        }
    }
    .panel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        >* {
            padding: 1rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            margin-inline: 1rem;
        }
        @keyframes show {
            0% {
                opacity: 0;
                transform: scale(0) translateY(-20px);
                max-height: 0px;
            }
            100% {
                opacity: 1;
                transform: scale(1) translateY(0px);
                max-height: 500px;
            }
        }
        @keyframes hide {
            0% {
                opacity: 1;
                transform: scale(1) translateY(0px);
                max-height: 500px;
            }
            100% {
                opacity: 0;
                transform: scale(0) translateY(-20px);
                max-height: 0px;
            }  
        }
        &.show {
            animation: show 0.5s ease-in-out forwards;
        }
        &.hide {
            animation: hide 0.5s ease-in-out forwards;
        }
        &.hidden{
            visibility: hidden;
        }
    }
}