.App-header {
    position: sticky;
    top: var(--y);
    transition: top 0.2s ease-in-out;
    word-break: normal;
    &:hover {
        top: 0;
    }
    min-height: 130px;
    height: fit-content;
    z-index: 100;
    background-color: #282c34;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    >* {
        margin: 20px;
    }
}